#gameworld {   
    border: 1px solid black; 
    display: block; 
    margin: auto; 
    position: relative;
    z-index: -1;
}

#battle_menu {
    margin: 0 auto;
    width: 608px; 
    height: 417px;
    text-align: right; 
    position: relative;
    z-index: 2; 
    top: -426px;
    visibility: hidden;
    pointer-events: none;
}

#battle_menu ul {
    list-style-type: none;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 25px;
    background-image: url("./imgs/menu_background.png"); 
    text-align: center; 
    height: 300px; 
    width: 100px; 
    padding-top: 100px;
    pointer-events: none;
}

#battle_menu li { 
    position: relative;
    left: -40px;
    width: 120px; 
    height: auto;
    color: #d8bca1; 
    margin: 10px;
    opacity: 1; 
    pointer-events: none;
}

#battle_menu a:focus {
    color: white;
    outline: solid 1px #d8bca1;
    pointer-events: none;
}
